*{
    padding: 0px;
    margin: 0px;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}


body {
    background-image: linear-gradient(to right,rgba(255,255,0,1),rgba(255,255,0,0.9));
}

.card{
    object-position: center;
    align-items: center;
}

.card-signin{
    border: 0;
    border-radius: 1rem;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  text-align: center;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 2.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}



body{
    max-height: 100%;
    margin-top: 100px;
    background-image: url("assets/two-white-ceramic-mugs-and-a-white-bag-on-wooden-table-3551355.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

body div#signIn-row{
    align-items: center;
    background-color: #ffff00;
    border-radius: 2rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 2;
}

body div#signIn-card-image{
    align-self: center;
    text-align: center;
    padding: 0;
}

body div#signUp-page-link{
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    
}

body div button#signIn{
    padding-left: 3rem;
    padding-right: 3rem;
}

@keyframes fadeAnimation{
    0%{opacity: 0; top: -20px;}
    100%{opacity: 1; top: 0px;}
}

body div#signIn-card{
    animation-name: fadeAnimation;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes logo{
    0%{opacity: 0; left: -20px;}
    100%{opacity: 1; left: 0px;}
}

body div#signIn-card-image{
    animation-name: logo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@media (max-width < 979px){
    body div#signIn-card-image p{
           border: 0;
           padding-left: 50px;
    }
}

body div a#forgotPass{
    font-size: 14px;
}

body div a#forgotPass:hover{
    text-decoration: none;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

body div#forgotPass button{
    padding: 0;
}

body div#forgotPass button:focus{
    outline: none;
    box-shadow: none;
}

body div.modal-header button:focus{
    box-shadow: none;
    outline: none;
}
/******************************* SIGN UP PAGE *******************************/

@keyframes introduction{
    0%{opacity: 0; top: -40px;}
    100%{opacity: 1; top: 0px;}
}

body div#signUp-card{
    
    animation-name: introduction;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    max-height: 100%;
    background-color: #fff;
    object-position: center;
    border-radius: 2rem;
}

body div#signUp-info{
    animation-name: introduction;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

body div #kunj{
    border-radius: 2rem;
    height: 3rem;
}

body div button#register{
    padding-left: 3rem;
    padding-right: 3rem;
    object-position: center;
    
}

body#signUp-bg{
    background-image: url("assets/person-touching-open-macbook-on-table-839465.jpg");
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
}


body div h4#signUp-heading{
    color: black;
}

/***********************MAIN PAGE************************/

body div.form-group{
    margin-left: 2rem;
}
body div#heading{
    
    border: 0;
    font-size: 1.5rem;
}

body div#submitDiv button{
    max-width: 20%;
}

body div#ElectricalComp input{
    height: 9rem;
}
body div#hrComp input{
    height: 9rem;
}
body div#civilComp input {
    height: 9rem;   
}
body div#horticultureComp input{
    height: 9rem;
    
}
body div#telecomComp input{
    height: 9rem;
}

body nav a.navbar-brand img{
    max-height: 50%;
    max-width: 50%;
}

body div#heading{
    padding-top: 50px;
}

body nav div#signoutDiv a{
    color: black;
    font-size: 1rem;
}

body nav div#signoutDiv a:hover{
    
    color: firebrick;
}

.footer{
    
    flex-shrink: none;
    opacity: 0.9;
}

.fa{
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 50%;
}
.fa:hover{
    opacity: 0.7;
    text-decoration: none;
}

.fa-linkedin{
    background: #007bb5;
    color: white;
}

.fa-youtube{
    background: #bb0000;
    color: white;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}