*{
    padding: 0px;
    margin: 0px;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}


body {
    background-image: linear-gradient(to right,rgba(255,255,0,1),rgba(255,255,0,0.9));
}

.card{
    object-position: center;
    align-items: center;
}

.card-signin{
    border: 0;
    border-radius: 1rem;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  text-align: center;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 2.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}



body{
    max-height: 100%;
    margin-top: 100px;
    background-image: url("assets/two-white-ceramic-mugs-and-a-white-bag-on-wooden-table-3551355.jpg");
    background-size: cover;
    
}

body div.row{
    align-items: center;
    background-color: #ffff00;
    border-radius: 2rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 2;
}

body div#signIn-card-image{
    align-self: center;
    text-align: center;
    padding: 0;
}

body div#signUp-page-link{
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    
}

body div button#signIn{
    padding-left: 3rem;
    padding-right: 3rem;
}

@keyframes fadeAnimation{
    0%{opacity: 0; top: -20px;}
    100%{opacity: 1; top: 0px;}
}

body div#signIn-card{
    animation-name: fadeAnimation;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes logo{
    0%{opacity: 0; left: -20px;}
    100%{opacity: 1; left: 0px;}
}

body div#signIn-card-image{
    animation-name: logo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@media (max-width < 979px){
    body div#signIn-card-image p{
           border: 0;
           padding-left: 50px;
    }
}




/******************************* SIGN UP PAGE *******************************/

body h4#signUp heading{
    
}

@keyframes intro{
    0%{opacity: 0;top: -40px;}
    100%{opacity: 1; top: 0px;}
}
body div#signUp-card{
    
    animation-name: intro;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    max-height: 100%;
    max-width: 60%;
    background-color: #fff;
    object-position: center;
}

body div #kunj{
    border-radius: 2rem;
    height: 3rem;
}

body div button#register{
    padding-left: 3rem;
    padding-right: 3rem;
    object-position: center;
    
}

body#signUp-bg{
    background-image: url("assets/tablespoons-with-dry-condiments-spilled-on-black-background-4198713.jpg");
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
}

body div#signUp-info{
    
}

body div h4#signUp-heading{
    color: black;
}

/***********************Alert Message **********************/

@keyframes alert{
    0%{opacity: 0; top: -32rem;}
    100%{opacity: 1; top: -30rem;}
}

body div#freezelayer{
    background: rgb(0,0,0);
    opacity: 0.1;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

body div#alert-message{
    display: none;
    vertical-align: middle;
    margin-bottom: 20px;
    max-height: 25%;
    max-width: 25%;
}

body div#alert-card{
    animation-name: alert;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border: 0;
    padding: 0;
    z-index: 3;
    /*top: -40rem;*/
    max-height: 20%;
    max-width: 100%;
    font-family: sans-serif;
    font-size: 15px;
}

body div#alert-card-body{
    border: 0;
    padding: 0;
    padding-top: 1rem;
    font-size: 16px;
}

body div#alert-buttons{
    padding: 0;
}
body div#alert-buttons button{
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    
}